<footer class="footer">
	<small>
		We really out <a href="https://www.youtube.com/watch?v=j60b5EsDZtY">here</a> doin <a href="https://www.youtube.com/watch?v=7bqa17bwMUI">it</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",   about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="https://www.bbc.com/mundo">News</a></li>
		</ul>
	</nav>
</footer>